Downloading the basic Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Importing the API from kaggle

In [20]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("suriyaganesh/resume-dataset-structured")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/suriyaganesh/resume-dataset-structured?dataset_version_number=2...

100%|██████████| 38.0M/38.0M [00:07<00:00, 5.09MB/s]

Extracting files...
Path to dataset files: C:\Users\Prakriti\.cache\kagglehub\datasets\suriyaganesh\resume-dataset-structured\versions\2

Loading the data

In [43]:
import os
# Define the directory containing your CSV files
folder_path = r"C:\Users\Prakriti\.cache\kagglehub\datasets\suriyaganesh\resume-dataset-structured\versions\2"

# List all files in the directory
files = os.listdir(folder_path)

# Filter only the CSV files
csv_files = [file for file in files if file.endswith('.csv')]

# Load each CSV file into a pandas DataFrame
data_frames = {file: pd.read_csv(os.path.join(folder_path, file)) for file in csv_files}

# Display the first few rows of each DataFrame
for file, df in data_frames.items():
    print(f"Data from {file}:")
    print(df.sample(50))
    print("\n")

Data from 01_people.csv:
       person_id                                               name  \
19951      19952                  SQL Server Database Administrator
28100      28101                                   Security Analyst
20143      20144         Senior Informatics Applications Specialist
27476      27477                        Generation Security Analyst
2664        2665                                Database Consultant
720          721                              Business Data Analyst
9865        9866                                      IT Technician
10486      10487                                 IT Systems Manager
4472        4473              Founder / Chief Product Officer / CEO
1767        1768                                Director of Quality
8015        8016                               Sr. Business Analyst
54900      54901                            Senior Python Developer
51232      51233                     Associate Technical consultant
5489        5490                             Front End UI Developer
43403      43404                IT Project Manager/Business Analyst
37513      37514             Data Manager (Full-Time 40hr-per week)
16993      16994  Systems Administrator Systems Administrator Se...
49215      49216                      Sr. Java Full Stack Developer
13818      13819                                           Campbell
15510      15511                                           Sherrill
2740        2741                      ORACLE DATABASE ADMINISTRATOR
34202      34203                                  LAN Administrator
16488      16489                                   Network Engineer
54524      54525                                   Python Developer
7020        7021                                  Michelle Kendrick
26885      26886                                             Hao Yu
6139        6140                         Installer/ Project Manager
4158        4159                                         Lee Gainer
570          571  Database and Middle Tier Systems Administrator...
16431      16432  BACKUP ADMINISTRATOR/DR BACKUP ADMINISTRATOR/D...
38304      38305                                 Software Developer
45443      45444                                  Brittney Sandoval
20480      20481                             Database Administrator
17156      17157                                 Senior EMR Analyst
7196        7197                                       Lab Engineer
40181      40182         Web Director, Digital Marketing Consultant
24028      24029                                     Dumitru Gorgan
26243      26244                     Project Manager/ IT Purchasing
20486      20487                             Database Administrator
23247      23248                       Front-End Developer/Designer
49508      49509  Senior Software/Oracle ERP Cloud Integration E...
48908      48909  BACKEND DEVELOPER BACKEND DEVELOPER BACKEND DE...
3046        3047            Owner/UX Designer / Front End Developer
16554      16555                                         Joe Keller
22524      22525                                Front-End Developer
22456      22457                                Front End Developer
15972      15973                                   Nick Fitzpatrick
5189        5190                                Front End Developer
54908      54909                               Sr. Python Developer
10558      10559                           DEA Intelligence Analyst

                              email         phone  \
19951                           NaN           NaN
28100                           NaN           NaN
20143                           NaN           NaN
27476                           NaN           NaN
2664                            NaN           NaN
720                             NaN           NaN
9865                            NaN           NaN
10486                           NaN           NaN
4472                            NaN           NaN
1767                            NaN           NaN
8015                            NaN           NaN
54900                           NaN           NaN
51232                           NaN           NaN
5489                            NaN           NaN
43403                           NaN           NaN
37513                           NaN           NaN
16993                           NaN           NaN
49215                           NaN           NaN
13818                           NaN           NaN
15510                           NaN           NaN
2740                            NaN           NaN
34202                           NaN           NaN
16488                           NaN           NaN
54524                           NaN           NaN
7020                            NaN           NaN
26885                           NaN           NaN
6139                            NaN           NaN
4158                            NaN           NaN
570                             NaN           NaN
16431                           NaN           NaN
38304                           NaN           NaN
45443                           NaN           NaN
20480                           NaN           NaN
17156                           NaN           NaN
7196                            NaN           NaN
40181                           NaN           NaN
24028                           NaN           NaN
26243                           NaN           NaN
20486                           NaN           NaN
23247                           NaN           NaN
49508                           NaN           NaN
48908                           NaN           NaN
3046                            NaN           NaN
16554                           NaN           NaN
22524                           NaN           NaN
22456                           NaN           NaN
15972  NICK.FITZPATRICK@COMCAST.NET  541-870-0682
5189                            NaN           NaN
54908                           NaN           NaN
10558                           NaN           NaN

                                            linkedin
19951                                            NaN
28100                                            NaN
20143                                            NaN
27476                                            NaN
2664                                             NaN
720                                              NaN
9865                                             NaN
10486                                            NaN
4472                                             NaN
1767                                             NaN
8015                                             NaN
54900                                            NaN
51232                                            NaN
5489                                             NaN
43403                                            NaN
37513                                            NaN
16993                                            NaN
49215                                            NaN
13818                                            NaN
15510                                            NaN
2740                                             NaN
34202                                            NaN
16488                                            NaN
54524                                            NaN
7020        http://linkedin.com/in/michellemkendrick
26885             http://www.linkedin.com/in/hao6yu/
6139                                             NaN
4158                                             NaN
570                                              NaN
16431          http://linkedin.com/in/michaelrchavez
38304                                            NaN
45443  https://www.linkedin.com/in/brittney-sandoval
20480                                            NaN
17156                                            NaN
7196                                             NaN
40181                                            NaN
24028      https://www.linkedin.com/in/dumitrugorgan
26243                                            NaN
20486                                            NaN
23247                                            NaN
49508                                            NaN
48908                                            NaN
3046                                             NaN
16554      http://www.linkedin.com/in/joe-keller2019
22524                                            NaN
22456                                            NaN
15972                                            NaN
5189                                             NaN
54908                                            NaN
10558                                            NaN


Data from 02_abilities.csv:
         person_id                                            ability
19487         1022                                    Budget planning
236              9                                             Alerts
825076       37248          VX-20 System Administrator / Data Analyst
228961       12174  Test driven development using JUnit and Struts...
386428       17799                        Agile Methodologies (Scrum)
868422       39658                                       Installation
214623       11443                                               SDLC
792103       36091                                               JSTL
121863        6345                                    Troubleshooting
64778         3439                                 Payment Processing
773393       35409                               Network installation
597225       28531      Mobility Administration and Break/Fix support
154205        8074                                    Case Management
818723       36891                                            Backups
213741       11385                                first level support
175708        9406                                        Open source
922678       42414                                 AngularJS Concepts
1076197      49498  Experience working on Web technologies: HTML, ...
129722        6764                                             Camera
139696        7317                              IT Project Management
166933        8898                              It project management
538422       25186                     Work Breakdown Structure (WBS)
816060       36756  Assisted Client in tracking business performan...
604117       28900                               Intranet Development
968993       44788                                 cultural awareness
412620       18598     Physical database design and capacity planning
531032       24817                                  Business analysis
1065050      49256                                              Scope
1195532      54331  Good experience in handling errors/exceptions ...
738309       33304                            MS Open Database (ODBC)
244564       12476                                   User Interaction
1165652      52797                              Regulatory Compliance
405504       18280                                          Unit test
579955       27589                                 Project Management
997241       46496                      Shadowing DBA during upgrades
691464       31732                                             Hadoop
610287       29179                                      Multi-tasking
281338       13332                                                JSP
66476         3539                       Building new web application
1037968      48709  Managed and resolved user access issues along ...
397398       18036                                    API Development
18374          946                                             Backup
144768        7588                               Contract negotiation
849647       38610                                    Hortonworks HDP
109742        5793             Developing web and mobile applications
60528         3241  Experience in requirements gathering, analysis...
261170       12837                                          Hibernate
1027552      48063                            Audit evidence analysis
805229       36380  Wrote Python modules to view and connect the A...
1100904      50122                                         AWS Lambda


Data from 03_education.csv:
       person_id                                        institution  \
48651      34758               University of Wisconsin - Whitewater
33438      24137                  Dr. Babasaheb Ambedkar University
68260      48360                     Brigham Young University Idaho
49104      35088                        Strayer University-Virginia
5243        3698                                           Master's
7000        4956                                New York University
17394      11610          University of Maryland University College
45643      32626                                  Rivier University
55136      39776                    Georgia Institute of Technology
5978        4270                         Calvert Senior High School
55874      40291                          Valdosta State University
45251      32326                                   Adama university
64083      45756                               Edgewood High School
14609       9927                                      UW Whitewater
56565      40838   kharkiv national university of municipal economy
2672        1843               Kansas City Kansas Community College
26389      19058                           Middlesex County College
10997       7635                           WILLIAM CAREY UNIVERSITY
19466      13655                                     K L University
40156      28377                            ITT Technical Institute
19212      13445                                Kakatiya University
31942      22991                                                NaN
44479      31676                                                NaN
74506      53451          SDM college of Engineering and Technology
35043      25158                        Western Michigan University
59269      42809                           Ultimate Medical Academy
38766      27453                     Hillsborough Community College
68597      48588                Ghana Technology University College
41777      29340                             Utah Valley University
45040      32161                                        Coe College
46296      33157            University of Management and Technology
5889        4211                                      Udemy Academy
26089      18856          Pace University, Lubin School of Business
54797      39490          Jawaharlal Nehru Technological University
63404      45336                                       ESGIS - TOGO
67534      47888  Yeshwantrao Chavan College of Engineering, Nag...
43744      30755                           Florida State University
50227      35974                        California State University
19641      13787                 University of California, Berkeley
72150      51815                        Fluvanna County High School
61773      44329                            Local Community College
24496      17335                       Western Governors University
48172      34435                              Troy State University
71071      51032                                                NaN
28900      20765                              University of Yaoundé
1887        1334                       Gar-Field Senior High School
6050        4313                               Texas A&M University
29390      21110                                     Belarus, Minsk
51127      36968  National University Sofia Institute of Science...
64513      46038                     BRANFORD HALL CAREER INSTITUTE

                                                 program start_date  \
48651                                                MBA        NaN
33438                      Bachelors in Computer Science       2005
68260  Bachelors of Science in Computer Information T...      04/15
49104                                                 BS        NaN
5243                                                 NaN        NaN
7000                       Master's Degree in Journalism      09/14
17394                         Bachelor of Science degree      09/12
45643   Master's In computer science in computer science        NaN
55136  Bachelor's of Science in Computer Engineering ...      09/10
5978                                 High School Diploma       1991
55874                            Business Administration      08/09
45251  Bachelor's in Electrical and electronics techn...    09/2006
64083                                        High School    08/2007
14609  B.B.A. in Information Technology and Infrastru...        NaN
56565                                   BS in management    09/2010
2672    Associates of General Studies in General Studies       1993
26389                                A.S. in Mathematics      05/14
10997          Bachelor's in CIS/Business Administration      08/03
19466  B.Tech. in Electrical and Electronics Engineering      08/10
40156                                     Cyber Security    08/2012
19212                    Master of Computer Applications       2004
31942                                                NaN        NaN
44479                                                NaN        NaN
74506                     Bachelor's in Computer Science      08/11
35043                        MS Accounting in Accounting      03/11
59269  Associate in Science in Health Information Tec...    11/2013
38766                     Associate in Arts in Education      09/06
68597                     BSc. in Information Technology    2007/09
41777      Bachelor of Science in Information Technology      12/17
45040   Bachelor of Arts in Computer Science and Physics      03/16
46296         BACHELORS DEGREE in INFORMATION TECHNOLOGY      09/16
5889                 Certification in Developer Bootcamp    03/2018
26089              Master of Science in Computer Science        NaN
54797  Bachelor of Technology in Electrical and Elect...      05/12
63404       Bachelor of Arts in International Management    09/2014
67534      Bachelor of Science in Electrical Engineering      06/12
43744       Master of Science in Science and Engineering        NaN
50227                                  Bachelor's Degree      05/20
19641                             BA in Computer Science       2014
72150                                High School Diploma      01/17
61773                                 Various IT Courses    2015/09
24496            B.S. in Network Operations and Security    09/2021
48172       Masters Degree in Human Resources Management        NaN
71071                                                NaN        NaN
28900  Bachelor of Arts in English Language/Modern Le...       1989
1887                                 High School Diploma       2009
6050                      Master's in Business Analytics      12/19
29390  Bachelor's in Information Technology and Contr...    09/2005
51127                   Bachelor of commerce in commerce      08/VA
64513  Certificate in Computer Information Technology...    04/2006

                      location
48651                       WI
33438  Aurangabad, Maharashtra
68260              Rexburg, ID
49104                      NaN
5243                       NaN
7000              New York, NY
17394             2012 to 2015
45643               Nashua, NH
55136              Atlanta, GA
5978      Prince Frederick, MD
55874             Valdosta, GA
45251                    Adama
64083              Trenton, OH
14609           Whitewater, WI
56565                  Kharkov
2672           Kansas City, KS
26389               Edison, NJ
10997          Hattiesburg, MS
19466   Guntur, Andhra Pradesh
40156              Hanover, MD

In [45]:
people_file = os.path.join(folder_path, "01_people.csv")
abilities_file = os.path.join(folder_path, "02_abilities.csv")
education_file = os.path.join(folder_path, "03_education.csv")
experience_file = os.path.join(folder_path, "04_experience.csv")
person_skills_file = os.path.join(folder_path, "05_person_skills.csv")
skills_file = os.path.join(folder_path, "06_skills.csv")

In [47]:
people_df = pd.read_csv(people_file)
abilities_df = pd.read_csv(abilities_file)
education_df = pd.read_csv(education_file)
experience_df = pd.read_csv(experience_file)
person_skills_df = pd.read_csv(person_skills_file)
skills_df = pd.read_csv(skills_file)

In [57]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54933 entries, 0 to 54932
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  54933 non-null  int64
 1   name       54819 non-null  object
 2   email      1593 non-null   object
 3   phone      1833 non-null   object
 4   linkedin   8538 non-null   object
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [59]:
people_df.describe()

          person_id
count  54933.000000
mean   27467.000000
std    15857.935506
min        1.000000
25%    13734.000000
50%    27467.000000
75%    41200.000000
max    54933.000000

In [61]:
people_df.isnull().sum()

person_id        0
name           114
email        53340
phone        53100
linkedin     46395
dtype: int64

In [65]:
people_df['name'].fillna('unknow')

0                                   Database Administrator
1                                   Database Administrator
2                            Oracle Database Administrator
3        Amazon Redshift Administrator and ETL Develope...
4                   Scrum Master Scrum Master Scrum Master
                               ...
54928                                Lead Python Developer
54929                          Full Stack Python Developer
54930                                            Eli Lilly
54931                                     Python Developer
54932                                           Job Seeker
Name: name, Length: 54933, dtype: object

In [67]:
people_df.isnull().sum()

person_id        0
name             0
email        53340
phone        53100
linkedin     46395
dtype: int64